<p>
  <%= @author_name %>の<%= @title %>があと<%= @days_to_release %>日で発売です<br>
  ぜひお買い逃しのないように！
</p>

<p>
  <%= link_to_if(@large_image_url.present?, image_tag(@large_image_url), @item_url) %>
</p>

  <table>
    <tr>
      <th align="left">発売日</th>
      <td><%= @sales_date %></td>
    </tr>
    <tr>
      <th align="left">書名</th>
      <td><%= @title %></td>
    </tr>
    <tr>
      <th align="left">作者名</th>
      <td><%= @author_name %></td>
    </tr>
    <tr>
      <th align="left">価格</th>
      <td><%= @item_price %>円</td>
    </tr>
    <tr>
      <th align="left">出版社</th>
      <td><%= @publisher_name %></td>
    </tr>
    <tr>
      <th align="left">書籍形態</th>
      <td><%= @size %></td>
    </tr>
    <tr>
      <th align="left">楽天で予約するなら</th>
      <td><%= @item_url %></td>
    </tr>
  </table>