<div class="col-4 col-md-3 col-lg-2 mb-4">
  <div class = "card border-dark mb-3">
    <div class = " mx-auto card-header p-0" style= "height: 200px;">
        <%= link_to_if(book.large_image_url.present?, image_tag(book.large_image_url), book.item_url) %>
    </div>
    <div class="card-body text-dark book-body" style= "height: 290px;">
      <p><%= link_to book.title, book.item_url %></p>
      
      <%# 作品お気に入り登録ボタン %>
      <% if user_signed_in? %>
        <% title_kana = TitleKana.registered(book) %>
        <% BookFavorite.favored_by?(title_kana, current_user) ? (render "title_kanas/favorite", title_kana: title_kana) : (render "title_kanas/not_favorite", title_kana: title_kana, book: book) %>
      <% else %>
        <%= render "title_kanas/not_favorite", title_kana: title_kana, book: book %>
      <% end %>
      
      <p><%= book.author %></p>

      <%# 著者お気に入りボタン %>
      <% if user_signed_in? %>
        <% author = Author.registered(book) %>
        <% AuthorFavorite.favored_by?(author, current_user) ? (render "favorite", author: author) : (render "not_favorite", author: author, book: book) %>
      <% else %>
        <%= render "not_favorite", {author: author, book: book} %>
      <% end %>

      <p><%= book.sales_date %>発売</p>
      <p><%= book.item_price %>円(税込み)</p>
    </div>
  </div>
</div>