<div class = "header-container">  
  <%= render "layouts/header_link" %>
  <%= render "search_box" %>
</div>

<%# お気に入り登録時のフラッシュメッセージ %>
<div class = "flash">
  <%= render "layouts/flash_register_favorite" %>
</div>

<div class = "content-wrapper">
  <div class = "container-fluid" >
    <div class = "row">
      <%= render partial: "search_result", collection: @title_books, as: "book" %>
      <%= render partial: "search_result", collection: @author_books, as: "book" %>
    </div>
  </div>
</div>