<nav class="navbar navbar-expand bg-primary">
  <%= link_to "ブクシル", root_path, class: "navbar-brand text-white", id: "brand" %>
  <div class="navbar-nav">
    <% if user_signed_in? %>
    <!-- ログイン時 -->
      <%= link_to "お気に入り一覧", favorite_users_path, class: "nav-item nav-link text-white" %>
      <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-item nav-link text-white" %>
      <%= link_to "ログアウト", destroy_user_session_path, class: "nav-item nav-link text-white", method: :delete, data: { confirm: "ログアウトしますか？" } %>
    <% else %>
    <!-- 非ログイン時 -->
      <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link text-white" %>
      <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link text-white" %>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "nav-item nav-link text-white", method: :post %>
    <% end %>
  </div>
</nav>